:root {
  --black: #000;
  --white: #fff;
  --primary: #3e8dea;
  --primary-hover: rgb(62, 102, 234);
  --background-even-line: #e8e2e2;
  --button-disabled: #9f9e9e;
  --background-modal: rgba(0, 0, 0, 0.3);
  --error-color: #f52e2e;
  --pink: #bd717f;
}
